[user]
	name = usagiga
	email = usagiga@usagiga.me
	signingkey = 10A0BCEB522C6BC3549F6A03D9408B79EADC9215
[credential]
	helper = osxkeychain
[pull]
	ff = only
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[advice]
	detachedHead = false
