[user]
	name = usagiga
	email = usagiga@usagiga.me
	signingkey = FD6406A6C1474A89
[credential]
	helper = store
[pull]
	ff = only
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
